---
import heroApp from '../images/hero-app.png'

import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Swiftcord – Beautiful & fast macOS Discord client">
  <main>
    <h1>Swiftcord</h1>
    <Image src={heroApp} alt='' class='shot' />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .shot {
    width: 100%;
    height: auto
  }
</style>
