---
import Toolbar from '../components/Toolbar.astro'
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <!-- SEO -->
  <meta name="og:title" content="Swiftcord – Beautiful & fast macOS Discord client" />
  <meta name="description" content="Beautiful & blazing fast native macOS Discord client. Use Discord with performance like never before, with amazing memory and energy efficiency." />
  <meta name="og:description" content="Beautiful & blazing fast native macOS Discord client. Use Discord with performance like never before, with amazing memory and energy efficiency." />
  <meta property="og:url" content="https://swiftcordapp.github.io/">
  <meta name="keywords" content="Discord, Discord client, macOS" />

  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
<Toolbar />
<slot />
</body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }
  :root {
    --accent: #0071e3;

    --toolbar-height: 52px;
  }
  html {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #13151a;
    background-size: 224px;
    color-scheme: dark;
  }

  body {
    padding-top: var(--toolbar-height);
    margin: 0;
  }

  h3 {
    font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .011em;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  button {
    border: none;
    outline: inherit;
  }
</style>
